<footer>
    <p>Made with ❤️ by <a href="//ayoreis.com">Ayo</a>.</p>

    <address class="profiles">

        <% 
    
            const profiles = [

                {
                    name: `GitHub`,
                    icon: `/images/assets/github.svg`,
                    link: `//github.com/ayoreis`
                },

                {
                    name: `StackExchange`,
                    icon: `/images/assets/stackexchange.svg`,
                    link: `//stackexchange.com/users/22076139`
                },

                {
                    name: `CSS Battle`,
                    icon: `/images/assets/cssbattle.svg`,
                    link: `//cssbattle.dev/player/ayoreis`
                },

                {
                    name: `Email`,
                    icon: `/images/assets/email.svg`,
                    link: `mailto:ayo.v.reis@gmail.com`
                }

            ]

        %> 

        <% for (profile of profiles) { %> 
            <a href="<%= profile.link %>">
                <img src="<%= profile.icon %>" alt="<%= profile.name %>">
            </a>
        <% } %>
        
    </address>
</footer>
