<footer>
    <p>Made with ❤️ by <a href="//ayoreis.com">Ayo</a>.</p>

    <nav class="accounts">
        <a href="//github.com/ayoreis"><img src="../images/assets/github.svg" alt="GitHub logo."></a>
        <a href="//stackexchange.com/users/22076130"><img src="../images/assets/stackexchange.svg" alt="Stack Exchange logo."></a>
    </nav>
</footer>
