/*========================
    0. Table of contents
    1. Variables & reset
        1.1. Variables
        1.2. Reset
    2. Elements
        2.1. General
        2.2. Typography
        2.3. Forms
    3. Layouts
        3.1. Main
        3.2. About
        3.3. Stuff
========================*/



/*========================
    1. Variables & reset:
========================*/

/*========================
    1.1. Variables:
========================*/

:root {
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-big: 4rem;

    --color-light-main: hsl(360 0% 95% / 1);
    --color-light-grey: hsl(360 0% 85% / 1);

    --color-dark-main: hsl(360 0% 10% / 1);
    --color-dark-grey: hsl(360 0% 20% / 1);

    --background-main: var(--color-light-main);
    --background-grey: var(--color-light-grey);

    --text-color: var(--color-dark-main);

    --border-width: 3px;
    --border-color: var(--color-dark-main);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-main: var(--color-dark-main);
        --background-grey: var(--color-dark-grey);

        --text-color: var(--color-light-main);

        --border-color: var(--color-light-main);
    }
}


/*========================
    1.2. Reset:
========================*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body,
main,
section,
header,
div,
aside,
footer,
nav,
img {
    display: grid;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

::before,
::after,
p,
a,
button,
input {
    display: inline-block;
}


/*========================
    2. Elements:
========================*/

/*========================
    2. General:
========================*/

body {
    font-size: 16px;
    font-family: monospace;
    color: var(--text-color);
    line-height: 1.5;

    background-color: var(--background-main);

    grid-template-columns: minmax(0, 1fr) 3rem;
    grid-template-areas:
        "main aside"
        "footer aside";
}

main {
    grid-area: main;
}

aside {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    grid-area: aside;
    border: var(--border-width) solid var(--border-color);

    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr) auto;
    grid-template-areas:
        "menu"
        "scrollbar"
        "button";

    background-color: var(--background-grey)
}

footer {
    grid-area: footer;
    grid-gap: var(--spacing-small);
    padding: var(--spacing-medium);
}

footer > nav.links {
    grid-auto-flow: row;
    grid-gap: inherit;
}

footer > * + *{
    margin-top: calc(1em - 1rem);
}

img:not(a > img) {
    border: var(--border-width) solid var(--border-color)
}

hr {
    border: none;
    border-top: 3px solid var(--text-color);
}


/*========================
    2.2. Typography:
========================*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    --size: 3rem;
}

h1 {
    font-size: calc(var(--size) / 6 * 6);
}

h2 {
    font-size: calc(var(--size) / 6 * 5);
}

h3 {
    font-size: calc(var(--size) / 6 * 4);
}

h4 {
    font-size: calc(var(--size) / 6 * 3);
}

h5 {
    font-size: calc(var(--size) / 6 * 2);
}

h6 {
    font-size: calc(var(--size) / 6 * 1);
}

a,
abbr{
    font-weight: bold;
    text-decoration: underline;
}

time {
    font-weight: bold;

}

a {
    color: blue;
}

a:visited {
    color: purple;
}

a:not(.image, .arrow)::before {
    content: "↗️";
}


/*========================
    2.3. Forms:
========================*/

button,
select {
    padding: var(--spacing-small);
    border: var(--border-width) solid var(--border-color);
    background-color: var(--background-grey);
    font: inherit;
}


/*========================
    2.3. Classes:
========================*/

.hidden,
[hidden] {
    display: none;
}

.sr-only {

}



.invisible {
    visibility: hidden;
}


/*========================
    3. Layout:
========================*/

/*========================
    3.1. Main:
========================*/

body.main {

}

main.main {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(100vh, auto) auto;
    grid-template-areas:
        "header"
        "stuff";
    grid-gap: var(--spacing-small);
}

header.main {
    grid-area: header;

    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
}

header.main > img {
    width: 100%;
    height: auto;
    background-color: yellow;
}

header.main > div {
    padding: var(--spacing-medium);
}

@media (orientation: landscape) {
    header.main {
        grid-area: header;

        grid-template-columns: auto minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr);
    }

    header.main > img {
        width: auto;
        height: 100%;
        background-color: yellow;
    }



}

section.stuff {
    grid-area: stuff;
}

section.stuff > nav.filter > * + * {
    margin-top: 1em;
}

nav.category {
    grid-gap: var(--spacing-small);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
}
div.container {
    grid-gap: var(--spacing-small);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
}

article {
    border: var(--border-width) solid var(--border-color);
    padding: var(--spacing-medium);
}

article > * + * {
    margin-top: 1em;
}


/*========================
    3.2. About:
========================*/

body.about {

}


/*========================
    3.3. Stuff:
========================*/

body.stuff {

}
