<!DOCTYPE html>
<html lang="en" dir="ltr">

    <%- include('partials/head') %>

    <body>

        <%- include('partials/nav') %>

        <hr>

        <main>
            <header>
                <h1><span class="emoji">🤯</span> 404.</h1>
            </header>
        </main>

        <hr>

        <%- include('partials/footer') %>

    </body>
</html>
