<!DOCTYPE html>
<html lang="en" dir="ltr">

    <%- include('partials/head') %>

    <body>

        <%- include('partials/nav') %>

        <h1>404 Error.</h1>
        <h2>Cannot GET <%= url %>.</h2>

    </body>
</html>
