<!DOCTYPE html>
<html lang="en" dir="ltr">

    <%- include('partials/head')%>

    <body>
        <%- include('partials/nav')%>

        <form>
            <div class="password">
                <label for="password">🔑 Password:</label>
                <input type="password" name="password">
            </div>
        </form>

        <%- include('partials/footer')%>
    </body>
</html>
