<!DOCTYPE html>
<html lang="en" dir="ltr">

    <%- include('partials/head') %>

    <body class="main">

        <%- include('partials/nav') %>

        <hr>

        <main>
            <header>
                <h1>
                    Hello, world!
                    <br>
                    I am Ayo,
                    <br>
                    I make stuff.
                </h1>

                <img src="./favicon.svg/?icon=j">
            </header>

            <hr>

            <section class="stuff">
                <header>


                    <input type="search">
                </header>

                <div>

                </div>
            </section>
        </main>

        <hr>

        <%- include('partials/footer') %>

    </body>
</html>
