<!DOCTYPE html>
<html lang="en" dir="ltr">

    <%- include('partials/head') %>

    <body>

        <%- include('partials/nav') %>

        <form action="/posts" method="post">

            <div>
                <label for="title">Title</label>
                <input
                    required
                    type="text"
                    name="title">
            </div>

            <div>
                <label for="description">Description</label>
                <input
                    required
                    type="text"
                    name="description">
            </div>

            <div>
                <label for="content">Content</label>
                <input
                    required
                    type="text"
                    name="content">
            </div>

            <a href="/">Cancel.</a>
            <button>Submit.</button>

        </form>
    </body>
</html>
