@import 'https://unpkg.com/open-props';

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-mono);
    font-size: 18px;
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
}

main { display: contents; }

header,
nav,
footer {
    padding: var(--size-fluid-3);
}

hr {
    border: none;
    border-top: var(--border-size-2) solid black;
}

.emoji {
    font-weight: 100;
}