/* * {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
} */

body {
    font-family: monospace;
    font-size: 18px;
}

button {
    font-family: inherit;
    font-size: inherit;
}

button.delete {
    border: none;
    border-radius: .5rem;
    background-color: crimson;
    padding: .5rem 1rem;
}
