:root {
	--spacing: 2rem;
	--border-radius: 0.1rem;
	--hue: 0;

	font-size: 18px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;

	background-color: hsl(var(--hue) 100% 95%);

	scroll-behavior: smooth;
}

nav,
main,
footer {
	padding: var(--spacing);
}

nav {
	display: grid;

	grid-template-columns: 1fr repeat(3, auto);
	align-items: center;
	gap: calc(var(--spacing) / 2);
}

nav > ul,
nav > ul > li {
	display: contents;
}

nav > ul > li:first-child > a {
	width: min-content;

	padding: 0.25rem 0.5rem;

	display: inline-block;

	justify-self: start;

	color: black;

	background-color: white;

	mix-blend-mode: difference;
}

nav > ul > li > a {
	justify-self: center;
}

nav > ul > li:last-child > a {
	justify-self: end;
}

main {
	display: grid;
	gap: var(--spacing);
}

section {
	display: contents;
}

section > ul {
	display: grid;

	grid-template-columns: repeat(
		auto-fill,
		minmax(300px, 1fr)
	);

	gap: calc(var(--spacing) / 2);

	list-style: none;
}

section > ul > li {
	display: contents;
}

section > ul > li > article {
	display: grid;
	place-content: start;
	place-items: start;
	gap: calc(var(--spacing) / 4);

	padding: var(--spacing);

	background-color: hsl(0 0% 100% / 0.75);

	border-radius: var(--border-radius);
}

article {
	display: contents;
}

footer {
	padding: var(--spacing);

	mix-blend-mode: difference;

	background-color: white;

	color: black;
}

h1,
h2 {
	font-weight: bolder;
}

video,
img {
	max-height: 75vh;
	max-width: 100%;
}

hr {
	border: none;
	border-top: 2px solid currentColor;
}

ul {
	list-style-position: inside;
}

ul > li a {
	font-weight: revert;
}

a {
	font-weight: bolder;
	text-decoration: none;
	color: currentColor;
}

a:hover {
	text-decoration: underline dashed;
}

time {
	padding: 0.1rem 0.2rem;

	background-color: black;

	font-size: 0.75rem;

	color: white;

	border-radius: var(--border-radius);
}
