:root {
	--spacing: 2rem;
	--border-radius: 0.1rem;
	--hue: 0;

	font-size: 18px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	gap: var(--spacing);

	padding: var(--spacing);

	font-family: sans-serif;

	background-color: hsl(var(--hue) 100% 95%);

	scroll-behavior: smooth;
}

nav,
main,
article:not(.project),
section {
	display: contents;
}

h1,
h2 {
	font-weight: bolder;
}

video,
img {
	max-height: 75vh;
	max-width: 100%;
}

hr {
	border: none;
	border-top: 2px solid currentColor;
}

ul {
	list-style-position: inside;
}

a {
	font-weight: bolder;
	text-decoration: none;
	color: currentColor;
}

a:hover {
	text-decoration: underline dashed;
}

time {
	justify-self: start;

	padding: 0.1rem 0.2rem;

	background-color: black;

	font-size: 0.75rem;

	color: white;

	border-radius: var(--border-radius);
}

ul > li a {
	font-weight: revert;
}

nav > ul {
	display: grid;
	list-style: none;

	grid-template-columns: 1fr repeat(3, auto);
	gap: calc(var(--spacing) / 2);
	align-items: center;
}

nav > ul > :first-child {
	justify-self: start;
	width: min-content;
}

nav > ul > li:first-child > a {
	mix-blend-mode: difference;
	color: black;
	background-color: white;
	display: block;
	padding: 0.25rem 0.5rem;
}

nav > ul > li {
	justify-self: center;
}

nav > ul > :last-child {
	justify-self: end;
}

section.projects > ul {
	display: grid;

	grid-template-columns: repeat(
		auto-fill,
		minmax(300px, 1fr)
	);

	gap: calc(var(--spacing) / 2);

	list-style: none;
}

section.projects > ul > li {
	display: contents;
}

article.project {
	display: grid;
	gap: calc(var(--spacing) / 4);

	padding: var(--spacing);

	background-color: hsl(0 0% 100% / 0.75);

	border-radius: var(--border-radius);
}

article.project > h3 {
	font: unset;
}
